<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suas Séries</title>
    <style>
        .info-serie {
            font-size: 22px;
        }
    </style>
</head>

<body>
    <nav class="blue lighten-2" role="navigation">
        <!-- barra de navegação-->
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img style="margin-top: 6px;" class="brand-logo" src="/img/logos/logo-white.png" height="48" alt="">
            </a>
            <ul class="right hide-on-med-and-down" th:switch="${usuario.id}">
                <li th:case="0"><a href="/login">Login</a></li>
                <div th:case="*">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/dashboard/adicionar-serie">Adicionar Série</a></li>
                    <li><a href="/logout">Sair</a></li>
                </div>
            </ul>
            <ul id="nav-mobile" class="sidenav" th:switch="${usuario.id}">
                <li th:case="0"><a href="/login">Login</a></li>
                <div th:case="*">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/dashboard/adicionar-serie">Adicionar Série</a></li>
                    <li><a href="/logout">Sair</a></li>
                </div>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav> <!-- fim da barra de navegação -->

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="cabecalho col s12 m12 center">
                    <h3 style="text-transform: capitalize;" class="blue-text text-ligthen-2" th:text="${serie.titulo}"></h3>
                </div>
                <div class="col s12 m6" style="margin-top: 27px">
                    <img class="materialboxed responsive-img" width="500" th:src="'/img/' + ${serie.filename}">
                    <p class="info-serie">Sinopse: <span style="font-size: 18px" class="blue-text" th:text="${serie.sinopse}"></span></p>
                </div>
                <div class="col s12 m6">
                    <p class="info-serie">Você está na <span class="blue-text" th:text="${serie.ultima_temp}"></span><span
                            class="blue-text">ª</span> temporada</p>
                    <p class="info-serie">Último episódio assistido foi <span class="blue-text" th:text="${serie.ultimo_ep}"></span><span
                            class="blue-text">º</span></p>
                    <p class="info-serie">Cada episódio dura em média <span class="blue-text" th:text="${serie.tempo_medio}"></span>
                        <span class="blue-text">min</span></p>
                    <p class="info-serie">Você avaliou com nota <span class="blue-text" th:text="${serie.avaliacao}"></span>
                        até o momento</p>
                    <p class="info-serie" th:switch="${serie.finalizada}">
                        <span th:case="true">
                            Você <span class="blue-text">concluiu</span> esta série
                        </span>
                        <span th:case="*">
                            Você <span class="blue-text">não concluiu</span> esta série
                        </span>
                    </p>
                    <p class="info-serie">Seu comentário sobre a série: <br>
                        <span style="margin-left: 40px">"<span style="font-size: 15px;" class="blue-text text-darken-2" th:text="${serie.comentario}"></span>"</span>
                    </p>
                    <div class="col s12 m12 center" style="margin-top: 40px; margin-bottom: 30px">
                        <a th:href="@{/dashboard/view/edit/{id}(id=${serie.id})}" class="waves-effect waves-light btn yellow black-text">Atualizar informações</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer blue lighten-1">
        <div class="footer-copyright">
            <div class="container">
                © <span id="data_agora"></span>
                <a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/JardelGoncalves">Jardel
                    Gonçalves</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
    <script>
        window.addEventListener('load', (event) => { let data_agora = document.getElementById("data_agora"); var dt = new Date(); data_agora.innerHTML = dt.getFullYear(); });
        $(document).ready(function () { $('.materialboxed').materialbox(); });
    </script>
</body>

</html>